.option{
    border: none;
    cursor: pointer;
}

.option.revealed.correct {
    border: 3px solid green;
}

.option.revealed.incorrect {
    border: 3px solid red;
}

.App {
    width: 100vw;
    height: 100vh;
    background-color: #F7F7F7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.App > .logo {
    max-width: 80%;
}

.App > .links {
    justify-content: space-between;
    display: flex;
    width: 30%;
    margin-top: 40px;
}

@media only screen and (max-width: 414px) {
    .App > .links {
        width: 60%;
    }
}

@media only screen and (max-width: 1024px) {
    .App > .links {
        width: 60%;
    }
}