.Button {
    color: #224FD7;
    font-size: 2em;
    cursor: pointer;
    font-family: 'Sanchez', serif;
}

.Button:hover{
    text-decoration: underline;
}

@media only screen and (max-width: 414px) {
    .Button{
        font-size: 1em;
    }
}
